/s2e.config
/s2e.creator
/s2e.includes
/s2e.files
/s2e.cflags
/s2e.cxxflags
capstone-*
clang*
gtest*
libdwarf*
lua-*
llvm-*
rapidjson*
soci*
protobuf*
compiler-rt*
klee-debug*
libcoroutine-debug*
libfsigc++-debug*
libq-debug*
libvmi-debug*
z3*
stamps
opt
tags
*.swp
